body {
  background: linear-gradient(rgb(170, 255, 244), rgb(10, 10, 37));
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.toDoItem {
  display: block;
  height: 100px;
  width: 200px;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  gap: 15px;
  list-style: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.toDoItem {
  border: 2px solid rgba(0, 103, 101, 0.38);
}
